body {
    width: 960px;
    margin: auto;
    text-align: center;
}

.float-content {
    float: left;
    width: 250px;
}

.bets {
    width: 460px;
}

.controls {
    clear: both;
}

.sure-bets {
    width: 100%;
}

.sure-bets td {
    width: 25%;
}

.separator {
    height: 20px;
}